<html>
    <head>
        <title>{{title|default('Farmcraft Theme')}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="{{ 'style.css'|assets(true) }}" />
        <link href="http://fonts.cdnfonts.com/css/vidaloka" rel="stylesheet">
        <link href="http://fonts.cdnfonts.com/css/roboto" rel="stylesheet">
        <link rel="icon" href="{{'icon.png'|assets(true)}}"/>      
        {{ 'arduino-light'|highlightTheme }}
    </head>
    <body>
    <div id="root" ></div>
    </body>
</html>
