<h1>Components & Styles</h1>
<nav>
  <ul>
    <li><a href="/">home</a></li>
    <li>ou  ich</li>
    <li>ou  ich</li>
  </ul>
</nav>

<div class="launcher">
  <h2>Launcher Component</h2>
  <p>This one is a launcher</p>
  <a>With a link</a>
</div>

{% highlight 'html' %}
<div class="launcher">
  <h2>Launcher Component</h2>
  <p>This one is a launcher</p>
  <a>With a link</a>
</div>
{% endhighlight %}

<div class="launcher">
  <h2>FullItem Component</h2>
</div>

<div class="fullItem" style="background-image:url(https://le-de.cdn-website.com/ca92e6cad149400a80b3cc4921a8673e/dms3rep/multi/opt/IMG_2EAECB2A1756_1-04c1706f-d9861a1b-2880w.jpeg)">
  <h2>A Super Title</h2>
</div>

<div class="fullItem" style="background-image:url(https://template114021.motopreview.com/mt-demo/114000/114021/mt-content/uploads/2020/09/mt-2101_home_bg04.jpg)">
  <h2>Another super title</h2>
</div>

{% highlight 'html' %}
<div class="fullItem" style="background-image:url(https://le-de.cdn-website.com/ca92e6cad149400a80b3cc4921a8673e/dms3rep/multi/opt/IMG_2EAECB2A1756_1-04c1706f-d9861a1b-2880w.jpeg)">
  <h2>A Super Title</h2>
</div>

<div class="fullItem" style="background-image:url(https://template114021.motopreview.com/mt-demo/114000/114021/mt-content/uploads/2020/09/mt-2101_home_bg04.jpg)">
  <h2>Another super title</h2>
</div>
{% endhighlight %}