<header>
  <h1>Far City</h1>
</header>
<nav>
  <ul>
    <li><a href="/css">Components & Styles</a></li>
    <li><a href="/configuration">Configuration Variables</a></li>
    <li><a href="#contact">coucou</a></li>
  </ul>
</nav>

<div class="fullItem" style="background-image:url(https://le-de.cdn-website.com/ca92e6cad149400a80b3cc4921a8673e/dms3rep/multi/opt/IMG_2EAECB2A1756_1-04c1706f-d9861a1b-2880w.jpeg)">
  <h2>coucou mon gros</h2>
</div>

<div class="fullItem" style="background-image:url(https://template114021.motopreview.com/mt-demo/114000/114021/mt-content/uploads/2020/09/mt-2101_home_bg04.jpg)">
  <h2>Un putain de titre de fou</h2>
</div>

<div class="fullItem" style="background-image:url(https://template114021.motopreview.com/mt-demo/114000/114021/mt-content/uploads/2020/09/mt-2101_home_bg01.jpg)">
  <h2>Un putain de titre de fou</h2>
</div>

<div class="launcher">
<h2>Goutes ma soupe !</h2>
<p>
Organic agriculture virtually excludes the use of synthetic chemicals. Under organic farming systems, the fundamental and natural processes of ecosystems such as soil microorganism activities and nutrient cycling - become crop management tools.
</p>
<a href="/coucou">Voir plus</a>
</div>

<div class="block_content"></div>

<div id="contact" class="contact_area">
  <h3>Ouaich ta mere</h3>
</div>

<div class="block_content"></div>


